/* The animation code */
@keyframes blink {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

/* The element to apply the animation to */
.TinyTerm {
  font-family: "Monaco";
  font-size: 14px;
  color: #2ba035;
  background-color: black;
}
/*
.TinyTerm-cursor {
  opacity: 0;
}*/

.TinyTerm-cursor {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
