.strml-window {
	position: relative;
	z-index: 5;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	box-sizing: border-box;
	background-color: green;
}

.strml-window.full-screen {
	width: 100%;
	height: 3000px;
}

.strml-window-header {
	/*opacity: .5;*/
	z-index: 10;
	position: absolute;

	box-sizing: border-box;
	width: 100%;

	font-size: 13px;

	border-bottom: 1px solid black;
	background-color: lightgrey;
}

.strml-window-content {
	/*z-index: -5;*/
	position: absolute;
	top: 20px;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	/*padding: 10px;*/
	/*background-color: blue;*/
	box-sizing: border-box;
	-webkit-transition: background-color 2s; /* Safari */
    transition: background-color 2s;
}